**/__pycache__
**/.DS_Store
# for idea
/.idea/.gitignore
/.idea/b-star.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
# for idea